---
import type { Release } from "@types";
import store from "@store";
import Layout from "@layouts/Layout.astro";
import Releases from "@components/Releases.astro";
import slug from "slug";

// TODO: Reduce repetition, I think this can be done better across everything.
export async function getStaticPaths() {
  const releases = store.releasesByArtist;

  return store.collection.map((release: Release) => {
    const artist = release.basic_information.artists[0].name;
    const currentTitle = release.basic_information.title;
    const otherReleases: Release[] = releases[artist].filter(
      (r: Release) => r.basic_information.title !== currentTitle
    );

    return {
      params: {
        artist: slug(artist),
        release: slug(currentTitle),
      },
      props: { artist, release, otherReleases },
    };
  });
}

const { artist, release, otherReleases } = Astro.props;
const title = release.basic_information.title;
---

<Layout title={`${title} by ${artist}`}>
  <main class="standard-restricted-width">
    <h1>{title} by {artist}</h1>
    <img
      src={release.basic_information.cover_image}
      alt=""
      width="550px"
      height="550px"
    />

    {
      otherReleases.length > 0 && (
        <>
          <h2>Other records by {artist}</h2>
          <Releases releases={otherReleases} />
        </>
      )
    }
  </main>
</Layout>
