---
import type { Release } from "@types";
import store from "@store";
import Layout from "@layouts/Layout.astro";
import Releases from "@components/Releases.astro";
import ReleaseHero from "@components/ReleaseHero.astro";
import slug from "slug";
import { buildUrl } from "@util/data";

// TODO: Reduce repetition, I think this can be done better across everything.
export async function getStaticPaths() {
  const releases = store.releasesByArtist;

  return store.collection.map((release: Release) => {
    const artist = release.basic_information.artists[0].name;
    const currentTitle = release.basic_information.title;
    const otherReleases: Release[] = releases[artist].filter(
      (r: Release) => r.basic_information.title !== currentTitle
    );

    return {
      params: {
        artist: slug(artist),
        release: slug(currentTitle),
      },
      props: { artist, release, otherReleases },
    };
  });
}

const { artist, release, otherReleases } = Astro.props;
const title = release.basic_information.title;
---

<Layout title={`${title} by ${artist}`}>
  <main class="standard-restricted-width">
    <ReleaseHero artist={artist} release={release} />

    {
      otherReleases.length > 0 && (
        <>
          <h2 class="standard-page-subtitle">
            More by <a href={buildUrl([artist])}>{artist}</a>
          </h2>
          <Releases
            releases={otherReleases}
            className="mini"
            showArtist={false}
          />
        </>
      )
    }
  </main>
</Layout>
