---
import Layout from "@layouts/Layout.astro";
import ReleaseHero from "@components/ReleaseHero.astro";
import Releases from "@components/Releases.astro";
import { getArtistDisplayName, buildUrl } from "@util/data";

const { artist, release, otherReleases } = Astro.props;
const title = release.basic_information.title;
const artistDisplayName = getArtistDisplayName(artist);
---

<Layout title={`${title} by ${artistDisplayName}`}>
  <main class="standard-restricted-width">
    <ReleaseHero artist={artist} release={release} />

    <h2 class="standard-page-subtitle">
      {otherReleases.length > 0 ? "More by" : "This is"}
      <a href={buildUrl([artist])}>{artistDisplayName}</a>
    </h2>
    {
      otherReleases.length > 0 && (
        <>
          <Releases
            releases={otherReleases}
            className="mini"
            showArtist={false}
          />
        </>
      )
    }
  </main>
</Layout>
