---
export interface Props {
  className?: string;
  releases: Release[];
  showArtist?: boolean;
}

import type { Release } from "@types";
import { getHumanColor, getMachineColor, getReleaseUrl } from "@util/data";
import Vinyl from "@components/Vinyl.astro";

const { className, releases, showArtist = true } = Astro.props;
---

<ul class=`${className}`>
  {
    releases.map((release: Release) => {
      const {
        basic_information: { title, artists },
      } = release;

      return (
        <li data-id={release.id}>
          <a href={getReleaseUrl(release)}>
            <div
              class="graphic"
              style={`--disc-color: ${getMachineColor(release)}`}
            >
              <Vinyl />
            </div>
            <div class="info">
              <div class="primary-info">
                <p class="title">{title}</p>
                {showArtist && <p class="artist">{artists[0].name}</p>}
              </div>
              <p class="desciption">{getHumanColor(release)}</p>
            </div>
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: var(--g-gutter);
    row-gap: calc(var(--sp-8) * 6);
  }

  li {
    width: var(--g-cols-2);
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .graphic {
    max-width: 80%;
  }

  .info {
    margin-top: var(--sp-4);
  }

  .title,
  .artist {
    margin: 0;
  }

  .artist {
    margin-top: var(--sp-2);
  }

  .title {
    font-weight: 500;
  }

  .desciption {
    font-size: var(--font-size-14);
    font-weight: 300;
    margin: var(--sp-8) 0 0 0;
  }

  ul.mini {
    row-gap: calc(var(--sp-8) * 2);
  }

  .mini a {
    display: flex;
    column-gap: 0.5rem;
  }

  .mini .graphic {
    flex: 1 1 30%;
    min-width: 64px;
  }

  .mini .info {
    flex: 1 1 70%;
    margin-top: 0;
  }
</style>
